In [1]:
import pandas as pd
import json



# 동별 geo 데이터
#geo_path = '../DABA/seoul-dong.geojson'
ner_path = '../../DATA/NAVER_NLP_Challenge_2018/train_data.txt'

# NE 가져오기
# 가져와야할 정보
mtn_sentences = []
mtn_bios = []

# 학습 파일 불러오기
def read_file(file_name):
    sents = []
    with open(file_name, 'r', encoding='utf-8') as f:
        lines = f.readlines()
        this_sent = []
        for i, l in enumerate(lines):
            
            if l == '\n':
                sents.append(this_sent)
                this_sent = []
            else:
                this_sent.append(tuple(l.split()))
            #this_sent.append(tuple(l.split()))
    return sents

test = read_file(ner_path)

In [2]:
print(test[0:10])

[[('1', '비토리오', 'PER_B'), ('2', '양일', 'DAT_B'), ('3', '만에', '-'), ('4', '영사관', 'ORG_B'), ('5', '감호', 'CVL_B'), ('6', '용퇴,', '-'), ('7', '항룡', '-'), ('8', '압력설', '-'), ('9', '의심만', '-'), ('10', '가율', '-')], [('1', '이', '-'), ('2', '음경동맥의', '-'), ('3', '직경이', '-'), ('4', '8', 'NUM_B'), ('5', '19mm입니다', 'NUM_B'), ('6', '.', '-')], [('1', '9세이브로', 'NUM_B'), ('2', '구완', '-'), ('3', '30위인', 'NUM_B'), ('4', 'LG', 'ORG_B'), ('5', '박찬형은', 'PER_B'), ('6', '평균자책점이', '-'), ('7', '16.45로', 'NUM_B'), ('8', '준수한', '-'), ('9', '편이지만', '-'), ('10', '22⅓이닝', 'NUM_B'), ('11', '동안', '-'), ('12', '피홈런이', '-'), ('13', '31개나', 'NUM_B'), ('14', '된다', '-'), ('15', '.', '-')], [('1', '7승', 'NUM_B'), ('2', '25패는', 'NUM_B'), ('3', '상트페테르부르크가', 'LOC_B'), ('4', '역대', '-'), ('5', '월드리그에', 'EVT_B'), ('6', '출진한', '-'), ('7', '분별', '-'), ('8', '최선의', '-'), ('9', '성적이다', '-'), ('10', '.', '-')], [('1', '▲', '-'), ('2', '퍼거슨', 'PER_B'), ('3', '씨족의', 'CVL_B'), ('4', '꾀', '-')], [('1', '[유로2008]', 'EVT_B'), ('2', "'공인구가", 'CVL_B'), ('3', '변할', '-'), ('4', '기록', '-'), ('5', '시정조치는', 'CVL_B'), ('6', '죽을', '-'), ('7', '맛', '-'), ('8', '?', '-'), ('9', "'", '-')], [('1', '로마올림픽에서', 'EVT_B'), ('2', '육미지황탕', 'TRM_B'), ('3', '이남지역으로', 'TRM_I'), ('4', '동메달에', 'CVL_B'), ('5', '머문', '-'), ('6', '추경대는', 'PER_B'), ('7', '차년', 'DAT_B'), ('8', '파리오픈', 'EVT_B'), ('9', '결승전에서', 'EVT_I'), ('10', '진', '-'), ('11', '동영의', 'LOC_B'), ('12', '탄셰', 'PER_B'), ('13', '차우세스쿠를', 'PER_I'), ('14', '비롯해', '-'), ('15', '몽골의', 'LOC_B'), ('16', '이창동', 'PER_B'), ('17', '차간바,', 'PER_I'), ('18', '발보나의', 'LOC_B'), ('19', '리자루드', 'PER_B'), ('20', '박혜미셔', 'PER_I'), ('21', '좌타자를', 'CVL_B'), ('22', '놓고', '-'), ('23', '추축한다', '-'), ('24', '.', '-')], [('1', '금반', '-'), ('2', '명기', 'CVL_B'), ('3', '통합우승', 'CVL_I'), ('4', '24,', 'NUM_B'), ('5', '10회차는', 'NUM_I'), ('6', '8일', 'DAT_B'), ('7', '상오', 'TIM_B'), ('8', '6시', 'TIM_I'), ('9', '50분,', 'TIM_I'), ('10', '상오', 'TIM_B'), ('11', '11시', 'TIM_I'), ('12', '50분에', 'TIM_I'), ('13', '발태가', '-'), ('14', '끝마감되며,', '-'), ('15', '비공식', '-'), ('16', '적중결과는', '-'), ('17', '5일', 'DAT_B'), ('18', '공표된다', '-'), ('19', '.', '-')], [('1', '권뢰가', '-'), ('2', '있는', '-'), ('3', '곳에', '-'), ('4', '직경에', '-'), ('5', '따라', '-'), ('6', '달라지는데요', '-'), ('7', '.', '-')], [('1', '때로는은', '-'), ('2', '귀여운', '-'), ('3', '가스나기인', '-'), ('4', '비담,', '-'), ('5', '세상일에는', '-'), ('6', '무관심', '-'), ('7', '.', '-')]]

In [3]:
# 말뭉치 데이터에서 단어와 BIO 태그만 불러와 학습용 데이터셋 생성
tags = []

for t in test:

    for w in t:

        tags.append(w[2])

In [4]:
df = pd.DataFrame(data={'bio_tag':tags})

In [5]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1063571 entries, 0 to 1063570
Data columns (total 1 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   bio_tag  1063571 non-null  object
dtypes: object(1)
memory usage: 8.1+ MB

  bio_tag
0   PER_B
1   DAT_B
2       -
3   ORG_B
4   CVL_B

In [6]:
x = df.value_counts()

In [8]:
print(type(x))
print(x.index.values)
print(x)

<class 'pandas.core.series.Series'>
[('-',) ('CVL_B',) ('NUM_B',) ('PER_B',) ('ORG_B',) ('DAT_B',) ('LOC_B',)
 ('TRM_B',) ('EVT_B',) ('NUM_I',) ('DAT_I',) ('ANM_B',) ('EVT_I',)
 ('PER_I',) ('ORG_I',) ('AFW_B',) ('CVL_I',) ('TRM_I',) ('TIM_B',)
 ('FLD_B',) ('AFW_I',) ('TIM_I',) ('PLT_B',) ('MAT_B',) ('LOC_I',)
 ('ANM_I',) ('FLD_I',) ('MAT_I',) ('PLT_I',)]
bio_tag
-          729659
CVL_B       57502
NUM_B       56136
PER_B       43034
ORG_B       40860
DAT_B       25837
LOC_B       20881
TRM_B       18695
EVT_B       10982
NUM_I        8740
DAT_I        8107
ANM_B        6486
EVT_I        6448
PER_I        5165
ORG_I        4668
AFW_B        4247
CVL_I        3416
TRM_I        3375
TIM_B        3263
FLD_B        2345
AFW_I        1822
TIM_I        1074
PLT_B         264
MAT_B         238
LOC_I         211
ANM_I          58
FLD_I          41
MAT_I          14
PLT_I           3
Name: count, dtype: int64

In [25]:
# make tag dic

#df = pd.DataFrame()
a = {}
for i, tag in enumerate(x.index.values):
    a[i+1] = tag[0]
a[0] = 'PAD'

In [26]:
print(a)

{1: '-', 2: 'CVL_B', 3: 'NUM_B', 4: 'PER_B', 5: 'ORG_B', 6: 'DAT_B', 7: 'LOC_B', 8: 'TRM_B', 9: 'EVT_B', 10: 'NUM_I', 11: 'DAT_I', 12: 'ANM_B', 13: 'EVT_I', 14: 'PER_I', 15: 'ORG_I', 16: 'AFW_B', 17: 'CVL_I', 18: 'TRM_I', 19: 'TIM_B', 20: 'FLD_B', 21: 'AFW_I', 22: 'TIM_I', 23: 'PLT_B', 24: 'MAT_B', 25: 'LOC_I', 26: 'ANM_I', 27: 'FLD_I', 28: 'MAT_I', 29: 'PLT_I', 0: 'PAD'}